@model IEnumerable<LanchesMac.Models.Lanche>

<div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<h2>@ViewData["Data"]</h2>
<hr />
<h3>@ViewBag.Total</h3>
<hr />

<h1>@TempData["Nome"]</h1>

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"></p>
        <h3>Preço : @lanche.Preco.ToString("c")</h3>
    </div>
}